.DS_Store
.theos
obj
*.deb
packages
*.swp
*~.nib
build/
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
xcuserdata
*.xccheckout
*.xcscmblueprint
.trae/
Tunnel/libproxyswitcher_tun2http.a
third_party/proxyswitcher-tun2http/build/
